---
# Rename this file to env.yml to use your own development FSI Server
fsi:
  server: https://flip-pdf-sb.vercel.app
  context: fsi
  viewer: viewer
sources:
  images: images/path
  statics: statics/path
